<html>
	<head>
		<title>Sinatra Project</title>
		<link rel="stylesheet" href="/stylesheets/app.css" />
	</head>
	<body>

		<%= yield %>
	
		<hr>

		<p class="center-text">Made by Cael Jensen</p>

	</body>
</html>